# =========================================================================
# Arquivos de Ambiente e Segredos
# IMPORTANTE: NUNCA ENVIE ESTES ARQUIVOS PARA UM REPOSITÓRIO PÚBLICO
# =========================================================================
.env
.env.*
!.env.example


# =========================================================================
# Dependências e Ambientes Virtuais
# (Pastas que contêm as bibliotecas instaladas)
# =========================================================================
node_modules/
/venv
/env
.venv


# =========================================================================
# Arquivos de Build e Distribuição
# (Arquivos gerados automaticamente pelo processo de compilação)
# =========================================================================
/dist
/dist-ssr
/build
/sdist
*.egg-info/


# =========================================================================
# Logs
# =========================================================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# =========================================================================
# Cache e Arquivos compilados do Python
# =========================================================================
__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================================
# Arquivos de Teste
# =========================================================================
.pytest_cache
.coverage


# =========================================================================
# Arquivos de IDEs e Editores de Código
# =========================================================================
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# =========================================================================
# Arquivos do Sistema Operacional
# =========================================================================
.DS_Store
Thumbs.db


# =========================================================================
# Arquivos de configuração local (ex: do Vite)
# =========================================================================
*.local
